<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6773bc">  <td>16/07/11 16:51:24</td>   <td>0</td> <td title="&gt;&gt;StartWebDriver.setUp()[pri:0, instance:testcase.BuzzPointsUserPage@604ed9f0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>16/07/11 16:52:13</td>   <td>48747</td> <td title="&lt;&lt;StartWebDriver.tearDown()[pri:0, instance:testcase.BuzzPointsUserPage@604ed9f0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>16/07/11 16:51:31</td>   <td>6411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BuzzPointsUserPage.testBuzzPointsUserPage()[pri:0, instance:testcase.BuzzPointsUserPage@604ed9f0]">testBuzzPointsUserPage</td> 
  <td>main@1121647253</td>   <td></td> </tr>
</table>
